* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        to right,
        rgb(255, 192, 203),
        rgb(173, 216, 230)
    );
}

button.btn.btn-info {
    color: white;
}

button.btn.btn-info:hover {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}
